{% extends 'base.html' %}


{% block body %}

    <div class="container">
        <h1 style="color: #6495ED">Entre em Contato</h1>
        <p>
            Olá, se você tiver alguma dúvida, sugestão ou precisar entrar em contato, por favor, utilize as informações abaixo:
        </p>
        <br>
        <h3>Informações de Contato do Desenvolvedor</h3>
        <p>Email: <a href="mailto:joao.elias124@gmail.com">joao.elias124@gmail.com</a></p>
        <p>Telefone: (83) 99945-2378</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/joão-elias-alexandre-83b353155" target="_blank">João Elias Alexandre</a></p>
    </div>

{% endblock %}
